/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Container for center alignment */
.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Button styling */
.button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

/* Home Page Section */
.home-container {
    text-align: center;
}

.home-container p {
    font-size: 1.25rem;
    margin-bottom: 30px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Form Inputs and Labels */
label {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

input, select {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border 0.3s ease;
}

input:focus, select:focus {
    border: 1px solid #4CAF50;
    outline: none;
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

/* Specific Styling for Form on Predict Page */
form input, form select {
    width: 60%;
    max-width: 500px;
}

form button {
    width: 100%;
    max-width: 200px;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    
    form input, form select {
        width: 80%;
        max-width: 350px;
    }

    .button {
        width: 80%;
    }
}
